/******************************************************************************
* Title: style.css
* Author: Hunter Schoonver ~ http://hunterschoonover.com
* 
* Theme Name: subtle
* Theme URI: http://hunterschoonover.com/
* Author: Hunter Schoonover
* Author URI: http://hunterschoonover.com/
* Description: Theme template for WordPress.
* Version: 1.0
* 
* This cascading style sheet provides a general look and feel for this theme.
*
* Table of contents:
*
*   WP SPECIFIC
*   FONTS
*   ELEMENTAL
*   HEADER
*   FOOTER
*   CONTENT
*
*/

/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* WP SPECIFIC -- styling and classes that are necessary only for WordPress */

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

/* end of WP SPECIFIC */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* FONTS -- load fonts that are necessary for the website */

/* end of FONTS */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* ELEMENTAL -- styling applied directly to elements without the use of classes */

body, html {
	width: 100%;
	background-color: #F1F1F1;
	color: #F1F1F1;
	font-family: Arial;
	font-size: 25px;
    text-align: center;
}

a { 
	color: #008fb3; 
	text-decoration: none; 
}
a:link { 
	color: #008fb3; 
	text-decoration: none;
}
a:hover {
	color: #00ccff; 
    text-decoration: none;
}
a img {
	padding: 0px;
	border: 0px;
}
a:hover img {
	padding: 0px;
	border: 0px;
}

h1 {
    color: #000;
    font-size: 30px;
    font-weight: normal;
    margin: 50px 0 10px 0;
}

img {
	max-width: 100%; /* Adhere to container width. */
    height: auto; /* Make sure images are scaled correctly. */
}

/* Styling for when narrower than 630px */
@media (max-width: 630px) {
    
    h1 {
        font-size: 25px;
    }

}

/* end of ELEMENTAL */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* HEADER -- styling the pages header */

#zzzYourThemeNameHere_headerSection {
    
}

/* end of HEADER */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* FOOTER -- styling for pages footer */

.nav-links {
    color: #8c8c8c;
    font-size: 16px;
    padding-bottom: 80px;
}

.nav-links a {
    color: #8c8c8c;
}

.nav-previous, .nav-next{
    max-width: 200px;
    display: inline-block;
    margin: 0 40px;
    padding: 15px 0;
    text-align: left;
}

.nav-previous:before {
    content: "\2190";
    padding-right: 2px;
}
.nav-next:after {
    content: "\2192";
    padding-left: 2px;
}

.nav-previous:hover:before, .nav-previous:hover a,
.nav-next:hover:after, .nav-next:hover a{
    color: #000;
}

/* Styling for when narrower than 630px */
@media (max-width: 630px) {
    
    .nav-previous, .nav-next{
        margin: 0 15px;
    }

}

/* end of Footer */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
/* CONTENT -- styling for the pages content */

#zzzYourThemeNameHere_contentSection {
    
}

/* end of CONTENT */
/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */